body {
    margin:0;
    padding:0;
}
#bar {
    margin:auto;
    width:auto;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid black;
}
#bar img {
    max-height: 50px;
    padding-left:15px;
}

#bar a {
    float:right;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

#bar a:hover {
    color:black;
    background-color:whitesmoke;
    border-bottom: 0.1px solid black;
}

#bar a:visited {
    color:black;
    border-bottom: 0.1px solid black;
}

#bar .active {
    color:black;
    background-color: whitesmoke;
    border-bottom: 0.1px solid black;
}


footer {
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}




